pip>=25.2

langchain : 0.3.27
langchain_core : 0.3.76

langchain_community
langchain_text_splitters

langchain_chroma

langchain_openai

langchain-experimental
openai

nltk==3.8.1
pypdfium2
pypdf
rapidocr-onnxruntime
sentence-transformers
unstructured
unstructured[pdf]

grandalf 
streamlit




